/* Other rules */

/* Global rules */
body {
  background-color: lightgrey;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.contain {
  max-width: 1250px;
  margin: 0 auto;
}
.content {
  width: 100%;
  display: flex;
}
h2 {
  font-size: 40px;
  font-weight: bold;
  margin: 15px 0;
}

h3 {
  font-size: 24px;
  font-weight: bold;
}

h4 {
  font-size: 18px;
}
/* Loading */

.loading {
  display: block;
  height: 100vh;
  font-size: 30px;
  text-align: center;
  margin-top: 100px;
}

/* Header */

header {
  background-color: white;
  .logo {
    border-bottom: solid 1px lightgrey;
    .logo-img {
      width: 150px;
      padding: 5px;
    }
  }

  .restaurant {
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
    .description {
      width: 65%;
      p {
        color: #868a8a;
        font-size: 20px;
        line-height: 30px;
      }
    }
    img {
      width: 32%;
      object-fit: cover;
      border-radius: 5px;
      padding-bottom: 30px;
    }
  }
}

/* content */
.column1 {
  width: 75%;
}
.column2 {
  width: 25%;
}
/* Dishes */
section {
  .tabMeals {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    .meal {
      width: 350px;
      height: 160px;
      display: flex;
      justify-content: space-between;
      background-color: white;
      margin: 20px 10px;
      border-radius: 5px;
      padding: 15px;
      box-sizing: border-box;
      .descrip {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        p {
          width: 180px;
          height: 30px;
          overflow: hidden;
          font-size: 14px;
        }
        .price {
          display: flex;
          justify-content: space-between;
          span:last-child {
            color: #ff8001;
            margin-right: 10px;
          }
        }
      }
      img {
        max-width: 35%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
      }
    }
  }
}

/* Basket */

.basket {
  min-height: 200px;
  background-color: white;
  padding: 15px;
  border-radius: 5px;
  position: sticky;
  right: 100px;
  top: 40px;

  .cart {
    display: flex;
    flex-direction: column;
    button {
      background-color: #bac3c3;
      color: #8b9a9b;
      font-size: 20px;
      padding: 10px;
      border: solid 1px #8b9a9b;
      border-radius: 5px;
      margin-bottom: 20px;
    }
    .dishes {
      margin: 10px 0;
    }
    .iconCart {
      color: #02cdbd;
    }
    .cartNotEmpty {
      color: white;
      background-color: #02cdbd;
    }

    .emptyCart {
      text-align: center;
      color: #bac3c3;
      margin: 35px 0;
      font-size: 24px;
    }
    .dish {
      line-height: 18px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
    }

    .subTotal {
      display: flex;
      flex-direction: column;
      border-top: solid 1px #8b9a9b;
      border-bottom: solid 1px #8b9a9b;
      padding: 15px 0;
    }
    label {
      display: flex;
      justify-content: space-between;
      font-size: 24px;
      padding: 5px 0;
    }
    .totalPrices {
      margin-top: 10px;
      label {
        font-weight: bold;
      }
    }
  }
}

/* Media queries */

@media (max-width: 1024px) {
  h3 {
    margin-left: 50px;
  }
  .restaurant {
    flex-direction: column;
    align-items: center;

    .description {
      min-width: 100%;

      text-align: center;
    }
    img {
      min-width: 50%;
      object-fit: cover;
      border-radius: 5px;
      margin-top: 30px;
      padding-bottom: 30px;
    }
  }
  .tabMeals {
    max-width: 60%;
    margin-left: 50px;
    .meal {
      min-width: 380px;
    }
  }
}

@media (max-width: 756px) {
  h3 {
    margin-left: 0px;
  }
  .tabMeals {
    margin-left: 0px;
    .meal {
      max-width: 360px;
    }
  }
}
